@page
@using TestTask.Web.Extensions
@model TestTask.Web.Pages.Weather.Archives.View

@{
    ViewData["Title"] = "Weather archives";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2 class="h3">Weather archives</h2>
        <a asp-page="/Weather/Archives/Add" class="btn btn-success">
            New
        </a>
    </div>

    @if (Model.CurrentPage is { Items.Count: > 0 })
    {
        var prevDisabled = Model.CurrentPage is { HasPreviousPage: false } ? "disabled" : string.Empty;
        var nextDisabled = Model.CurrentPage is { HasNextPage: false } ? "disabled" : string.Empty;
        var previousPageIndex = Model.CurrentPage.PageIndex - 1;
        var nextPageIndex = Model.CurrentPage.PageIndex + 1;

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Date added</th>
                <th scope="col">Title</th>
                <th scope="col">Locality</th>
                <th scope="col">Records count</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var archive in Model.CurrentPage.Items.Select(e => e.ToViewModel()))
            {
                <tr>
                    <td>@archive.DateAdded</td>
                    <td>
                        <a asp-page="/Weather/Records/View"
                           asp-route-weatherArchiveId="@archive.Id">
                            @archive.Title
                        </a>
                    </td>
                    <td>@archive.LocalityInfo</td>
                    <td>@archive.RecordsCount</td>
                </tr>
            }
            </tbody>
        </table>

        <div class="d-flex justify-content-end align-items-center mt-4">
            <a asp-page="/Weather/Archives/View"
               asp-route-pageIndex="@previousPageIndex"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>

            <span class="mx-3">Page @Model.CurrentPage.PageIndex of @Model.CurrentPage.TotalPages</span>

            <a asp-page="/Weather/Archives/View"
               asp-route-pageIndex="@nextPageIndex"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No archives found. Please upload a new archive.
        </div>
    }
</div>
