@page
@using TestTask.Application.Contracts;
@model ViewModel
@{
}

@{
	var prevDisabled = Model.BindingModel.Page is { HasPreviousPage: false } ? "disabled" : string.Empty;
	var nextDisabled = Model.BindingModel.Page is { HasNextPage: false } ? "disabled" : string.Empty;
	var previousPageIndex = Model.BindingModel.Page?.PageIndex - 1;
	var nextPageIndex = Model.BindingModel.Page?.PageIndex + 1;
}

@if (Model.BindingModel.Page is not null)
{
	<select asp-for="BindingModel.SelectedMonth" asp-items="Html.GetEnumSelectList<Months>()" onchange="applyFilters()"></select>
	<select asp-for="BindingModel.SelectedYear" asp-items="ViewModel.Years" onchange="applyFilters()">
		<option value="">Не выбрано</option>
	</select>

	<table class="table">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Время</th>
				<th>Температура воздуха</th>
				<th>Влажность воздуха</th>
				<th>Точка росы</th>
				<th>Давление воздуха</th>
				<th>Направление ветра</th>
				<th>Скорость ветра</th>
				<th>Облачность</th>
				<th>Нижняя граница облаков</th>
				<th>Горизонтальная видимость</th>
				<th>Феномены</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var record in Model.BindingModel.Page.Items)
			{
				<tr>
					<td>@record.MeasurementDate</td>
					<td>@record.MeasurementTime</td>
					<td>@record.AirTemperature</td>
					<td>@record.AirHumidity</td>
					<td>@record.DewPoint</td>
					<td>@record.AirPressure</td>
					<td>@record.WindDirections</td>
					<td>@record.WindSpeed</td>
					<td>@record.Clouds</td>
					<td>@record.LowCloudBoundary</td>
					<td>@record.HorizontalVisibility</td>
					<td>@record.NaturalPhenomena</td>
				</tr>
			}
		</tbody>
	</table>

	<a asp-page="/Weather/View"
	   asp-route-selectedMonth="@Model.BindingModel.SelectedMonth"
	   asp-route-pageIndex="@previousPageIndex"
	   asp-route-selectedYear="@Model.BindingModel.SelectedYear"
	   class="btn btn-primary @prevDisabled">
		Previous
	</a>

	<a asp-page="/Weather/View"
	   asp-route-selectedMonth="@Model.BindingModel.SelectedMonth"
	   asp-route-pageIndex="@nextPageIndex"
	   asp-route-selectedYear="@Model.BindingModel.SelectedYear"
	   class="btn btn-primary @nextDisabled">
		Next
	</a>

	<p>Page @Model.BindingModel.Page?.PageIndex of @Model.BindingModel.Page?.TotalPages</p>
}

<script type="text/javascript">
	function applyFilters() {
		var selectedMonth = document.getElementById("BindingModel_SelectedMonth").value;
		var selectedYear = document.getElementById("BindingModel_SelectedYear").value;
		var pageIndex = '@Model.BindingModel.Page?.PageIndex';

		var url = `/Weather/View?selectedMonth=${selectedMonth}&pageIndex=${pageIndex}`;
		if (selectedYear !== '')
		{
			url += `&selectedYear=${selectedYear}`;;
		}

		window.location.href = url;
	}
</script>

