@page
@using TestTask.Application.Shared;
@model ViewModel
@{
}

@{
	var prevDisabled = Model.BindingEntity.WeatherPage is { HasPreviousPage: false } ? "disabled" : string.Empty;
	var nextDisabled = Model.BindingEntity.WeatherPage is { HasNextPage: false } ? "disabled" : string.Empty;
	var previousPageIndex = Model.BindingEntity.WeatherPage?.PageIndex - 1;
	var nextPageIndex = Model.BindingEntity.WeatherPage?.PageIndex + 1;
}

@if (Model.BindingEntity.WeatherPage is not null)
{
	<select asp-for="BindingEntity.SelectedMonth" asp-items="Html.GetEnumSelectList<Months>()" onchange="applyFilters()"></select>
	<select asp-for="BindingEntity.SelectedYear" asp-items="Model.BindingEntity.Years" onchange="applyFilters()">
		<option value="">Не выбрано</option>
	</select>

	<table class="table">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Время</th>
				<th>Температура воздуха</th>
				<th>Влажность воздуха</th>
				<th>Точка росы</th>
				<th>Давление воздуха</th>
				<th>Направление ветра</th>
				<th>Скорость ветра</th>
				<th>Облачность</th>
				<th>Нижняя граница облаков</th>
				<th>Горизонтальная видимость</th>
				<th>Феномены</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var record in Model.BindingEntity.WeatherPage.CurrentItems)
			{
				<tr>
					<td>@record.MeasurementDate</td>
					<td>@record.MeasurementTime</td>
					<td>@record.AirTemperature</td>
					<td>@record.AirHumidity</td>
					<td>@record.DewPoint</td>
					<td>@record.AirPressure</td>
					<td>@record.WindDirections</td>
					<td>@record.WindSpeed</td>
					<td>@record.Clouds</td>
					<td>@record.LowCloudBoundary</td>
					<td>@record.HorizontalVisibility</td>
					<td>@record.NaturalPhenomena</td>
				</tr>
			}
		</tbody>
	</table>

	<a asp-page="/Weather/View"
	   asp-route-selectedMonth="@Model.BindingEntity.SelectedMonth"
	   asp-route-pageIndex="@previousPageIndex"
	   asp-route-selectedYear="@Model.BindingEntity.SelectedYear"
	   class="btn btn-primary @prevDisabled">
		Previous
	</a>

	<a asp-page="/Weather/View"
	   asp-route-selectedMonth="@Model.BindingEntity.SelectedMonth"
	   asp-route-pageIndex="@nextPageIndex"
	   asp-route-selectedYear="@Model.BindingEntity.SelectedYear"
	   class="btn btn-primary @nextDisabled">
		Next
	</a>

	<p>Page @Model.BindingEntity.WeatherPage?.PageIndex of @Model.BindingEntity.WeatherPage?.TotalPages</p>
}

<script type="text/javascript">
	function applyFilters() {
		var selectedMonth = document.getElementById("BindingEntity_SelectedMonth").value;
		var selectedYear = document.getElementById("BindingEntity_SelectedYear").value;
		var pageIndex = '@Model.BindingEntity.WeatherPage?.PageIndex';

		var url = `/Weather/View?selectedMonth=${selectedMonth}&pageIndex=${pageIndex}`;
		if (selectedYear !== '')
		{
			url += `&selectedYear=${selectedYear}`;;
		}

		window.location.href = url;
	}
</script>

