@page
@model ViewModel
@{
}

@{
	var prevDisabled = Model.BindingEntity.WeatherPage is { HasPreviousPage: false } ? "disabled" : string.Empty;
	var nextDisabled = Model.BindingEntity.WeatherPage is { HasNextPage: false } ? "disabled" : string.Empty;
	var previousPageIndex = Model.BindingEntity.WeatherPage?.PageIndex - 1;
	var nextPageIndex = Model.BindingEntity.WeatherPage?.PageIndex + 1;
}

@if (Model.BindingEntity.WeatherPage is not null)
{
	<table class="table">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Время</th>
				<th>Температура воздуха</th>
				<th>Влажность воздуха</th>
				<th>Точка росы</th>
				<th>Давление воздуха</th>
				<th>Направление ветра</th>
				<th>Скорость ветра</th>
				<th>Облачность</th>
				<th>Нижняя граница облаков</th>
				<th>Горизонтальная видимость</th>
				<th>Феномены</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var record in Model.BindingEntity.WeatherPage.CurrentItems)
			{
				<tr>
					<td>@record.MeasurementDate</td>
					<td>@record.MeasurementTime</td>
					<td>@record.AirTemperature</td>
					<td>@record.AirHumidity</td>
					<td>@record.DewPoint</td>
					<td>@record.AirPressure</td>
					<td>@record.WindDirections</td>
					<td>@record.WindSpeed</td>
					<td>@record.Clouds</td>
					<td>@record.LowCloudBoundary</td>
					<td>@record.HorizontalVisibility</td>
					<td>@record.NaturalPhenomena</td>
				</tr>
			}
		</tbody>
	</table>

	<a asp-page="/Weather/View"
	   asp-route-pageIndex="@previousPageIndex"
	   class="btn btn-primary @prevDisabled">
		Previous
	</a>

	<a asp-page="/Weather/View"
	   asp-route-pageIndex="@nextPageIndex"
	   class="btn btn-primary @nextDisabled">
		Next
	</a>

	<p>Page number @Model.BindingEntity.WeatherPage?.PageIndex</p>
	<p>Total pages @Model.BindingEntity.WeatherPage?.TotalPages</p>
}


